<h4>Novo Assunto</h4>

<form>
  <div class="form-group p-10 row">
    <div class="col-sm-3">
      <label for="nome">Descrição</label>
    </div>
    <div class="col-sm-8">
      <input
        type="text"
        class="form-control"
        id="descricao"
        name="descricao"
        [formControl]="descricao"
        required
        maxlength="20"
      />
    </div>
  </div>
  <a href="" routerLink="/assuntos" class="btn btn-danger back">Voltar</a>
  <button class="btn btn-success" (click)="addAssunto()">Adicionar</button>
</form>
