<app-navbar></app-navbar>

<!-- @if (!staticAlertClosed) {
	<ngb-alert #staticAlert (closed)="staticAlertClosed = true" styleClass="text-center" type="light" (closed)="close()">
        <h2>Welcome to my Bookshop Project!</h2>
        <p class="mt-5">
            This project is just a demo of an e-shop (Bookshop) using .NET 8 & Angular 19.<br>
        </p>
        <button type="button" class="btn btn-primary" styleClass="mt-5" (click)="redirectToGithub()" >Click for more details!</button>
    </ngb-alert>
} -->