<h4>Livros</h4>

<button class="btn btn-primary" (click)="addLivro()">Adicionar Livro</button>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Código</th>
      <th scope="col">Título</th>
      <th scope="col">Editora</th>
      <th scope="col">Edição</th>
      <th scope="col">Ano Publicação</th>
      <th scope="col">Sinopse</th>
      <th scope="col">Autor(es)</th>
      <th scope="col">Assunto(s)</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @for (livro of livros; track livro.titulo; let i = $index) {
    <tr>
      <td>{{ livro.cod }}</td>
      <td>{{ livro.titulo }}</td>
      <td>{{ livro.editora }}</td>
      <td>{{ livro.edicao }}</td>
      <td>{{ livro.anoPublicacao }}</td>
      <td>{{ livro.sinopse }}</td>
      <td>{{ livro.autores }}</td>
      <td>{{ livro.assuntos }}</td>
      <td>
        <a
          class="btn btn-warning"
          href=""
          [routerLink]="['/livrosEdit/', livro.cod]"
          >Editar</a
        >
        <a class="btn btn-danger" (click)="deleteLivro(livro.cod)">Excluir</a>
      </td>
    </tr>
    }
  </tbody>
</table>
