<h4>Novo Livro</h4>

<form>
  <div class="form-group p-10 row">
    <div class="col-sm-3">
      <label for="titulo">Título</label>
    </div>
    <div class="col-sm-8">
      <input
        type="text"
        class="form-control"
        id="titulo"
        name="titulo"
        [formControl]="titulo"
        required
        maxlength="40"
      />
    </div>
  </div>
  <div class="form-group p-10 row">
    <div class="col-sm-3">
      <label for="editora">Editora</label>
    </div>
    <div class="col-sm-8">
      <input
        type="text"
        class="form-control"
        id="editora"
        name="editora"
        [formControl]="editora"
        required
        maxlength="40"
      />
    </div>
  </div>
  <div class="form-group p-10 row">
    <div class="col-sm-3">
      <label for="edicao">Edição</label>
    </div>
    <div class="col-sm-8">
      <input
        type="number"
        class="form-control"
        id="edicao"
        name="edicao"
        [formControl]="edicao"
        required
      />
    </div>
  </div>
  <div class="form-group p-10 row">
    <div class="col-sm-3">
      <label for="anoPublicacao">Ano Publicação</label>
    </div>
    <div class="col-sm-8">
      <input
        type="text"
        class="form-control"
        id="anoPublicacao"
        name="anoPublicacao"
        [formControl]="anoPublicacao"
        required
        maxlength="4"
      />
    </div>
  </div>  
  <div class="form-group p-10 row">
    <div class="col-sm-3">
      <label for="sinopse">Sinopse</label>
    </div>
    <div class="col-sm-8">
      <input
        type="text"
        class="form-control"
        id="sinopse"
        name="sinopse"
        [formControl]="sinopse"
        required
        maxlength="40"
      />
    </div>
  </div>
  <div class="form-group p-10 row">
    <div class="col-sm-3">
      <label for="autoresSelecionados">Autor(es)</label>
    </div>
    <div class="col-sm-8">
      <select
        name="autoresSelecionados"
        id="autoresSelecionados"
        class="form-select"
        [formControl]="autoresSelecionados"
        multiple
        required="required"
      >
        <option *ngFor="let autor of autores" [value]="autor.cod">
          {{ autor.nome }}
        </option>
      </select>
    </div>
  </div>
  <div class="form-group p-10 row">
    <div class="col-sm-3">
      <label for="assuntosSelecionados">Assunto(s)</label>
    </div>
    <div class="col-sm-8">
      <select
        name="assuntosSelecionados"
        id="assuntosSelecionados"
        class="form-select"
        [formControl]="assuntosSelecionados"
        multiple
        required="required"
      >
        <option *ngFor="let assunto of assuntos" [value]="assunto.cod">
          {{ assunto.descricao }}
        </option>
      </select>
    </div>
  </div>
  <a href="" routerLink="/livros" class="btn btn-danger back">Voltar</a>
  <button class="btn btn-success" (click)="addLivro()">Adicionar</button>
</form>
