<h4>CanalPrecos</h4>

<button class="btn btn-primary" (click)="addCanalPreco()">Adicionar CanalPreco</button>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Código</th>
      <th scope="col">Livro</th>
      <th scope="col">Canal</th>
      <th scope="col">Preço</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @for (canalPreco of canalPrecos; track canalPreco.cod; let i = $index) {
    <tr>
      <td>{{ canalPreco.cod }}</td>
      <td>{{ canalPreco.livro.titulo }}</td>
      <td>{{ canalPreco.canal.nome }}</td>
      <td>{{ canalPreco.valor }}</td>
      <td>
        <a
          class="btn btn-warning"
          href=""
          [routerLink]="['/canalPrecosEdit/', canalPreco.cod]"
          >Editar</a
        >
        <a class="btn btn-danger" (click)="deleteCanalPreco(canalPreco.cod)">Excluir</a>
      </td>
    </tr>
    }
  </tbody>
</table>
